@use "../common" as *;

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -4px;
  width: 100%;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover,
  &:focus-visible,
  &:active {
    color: $basic-green;

    .copyright__logo-image {
      color: $basic-green;
      transition: color 0.2s ease;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @include font($primary-font, 16px, 20px, $base-color-text);

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.copyright__logo-image {
  color: $special-grey;
}
